{
  "projectId": "aiduxcare-v2-uat-dev",
  "appId": "1:935285025887:web:192bab3e9ef5aef2ee3fea",
  "storageBucket": "aiduxcare-v2-uat-dev.firebasestorage.app",
  "apiKey": "AIzaSyDfZP98XKzx71vA4ctX9HlUWI1tp0W9EKQ",
  "authDomain": "aiduxcare-v2-uat-dev.firebaseapp.com",
  "messagingSenderId": "935285025887"
}
