{
  "projectId": "aiduxcare-v2-prod-live",
  "appId": "1:213658914064:web:b4dce31e9bde329d60e995",
  "storageBucket": "aiduxcare-v2-prod-live.firebasestorage.app",
  "apiKey": "AIzaSyDn9C-Ay8kacuSMOaGCvdPnf0fX5iu5hHY",
  "authDomain": "aiduxcare-v2-prod-live.firebaseapp.com",
  "messagingSenderId": "213658914064"
}
